@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    font-family: 'Outfit';
    background-color:hsl(216, 15%, 48%) ;
}
p{
    font-size: 14px;
}

main{
    
    margin: auto;
    border-radius: 15px;
    background-color: white;
    max-width: 400px;
    min-width: 300px;
    padding: 30px;
    margin-top: 40px;
    
}
main img{
    max-width: 410px;
    min-width: 300px;
    border-radius: 15px;
    display: block;
    height: 100%;
    margin: auto;
}
aside{
    
    margin-left: 10px;
}
